/*
 * WIP_Base
 *
 * @category    WIP
 * @package     WIP_Base
 * @copyright   Copyright (c) 2019 WIP
 * @author      Vlad Patru <vlad@wearewip.com>
 * @link        http://www.wearewip.com
 */

/**
/* Less mixin to change svg color for admin menu icon
 */
@cs_color_1: #233d59;
@cs_color_2: #ffeede;

// TopMenu
.admin__menu {
    #menu-wip-base-top-level {
        & > a {
            &:before {
                content: '';
                background-repeat: no-repeat;
                filter: brightness(70%);
                background-position: center;
                background-size: 42px;
                text-transform: none;
                background-image: url("@{baseDir}WIP_Base/images/logo.png");
            }
        }

        &._active,
        &:hover {
            > a {
                &:before {
                    filter: brightness(100%);
                }

                color: @menu-item__active__color;
            }
        }
    }
}

// Stores Configuration
.wip-tab {
    .admin__page-nav-title {
        &._collapsible:after {
            top: 2.6rem;
        }

        strong {
            display: inline-flex;
            line-height: 30px;
            font-size: 2rem;
            text-transform: lowercase;
            font-weight: @font-weight__light;

            &:before {
                content: '';
                width: 30px;
                height: 30px;
                display: block;
                font-weight: @font-weight__light;
                margin-right: 15px;
                text-transform: none;
                background-image: url("@{baseDir}WIP_Base/images/logo.png");
                background-repeat: no-repeat;
                background-size: 45px;
                background-position: center;
                -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(400%) contrast(2);
                filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(600%) contrast(0.8);
            }
        }
    }
}

.content-info-wip {
    h4 {
        padding-left: 0 !important;
        max-width: 500px;
        width: 100%;
    }

    .image-blue {
        display: inline-block;
        max-width: 200px;
        width: 100%;
        background-image: url("@{baseDir}WIP_Base/images/logo.png");
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center;
        -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(400%) contrast(2);
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(600%) contrast(0.8);
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    .magento-certifications {
        ul {
            list-style: none;
            padding-top: 20px;

            li {
                display: inline-block;
                margin-right: 20px;

                img {
                    max-width: 60px;
                }
            }
        }
    }

    .actions {
        button {
            &:extend(.page-actions > button.action-primary all);
            float: left;
            margin-left: 0;
        }
    }

}
