<div class="content-info-wip">
    <a href="https://wearewip.com" target="_blank" title="WorkInProgress" class="image-blue"></a>
    <h4>WIP is a full service ecommerce agency with over a decade of experience designing and building complex
        ecommerce systems.</h4>

    <div class="magento-certifications">
        <ul>
            <li>
                <img src="<?= /* @noEscape */ $this->getViewFileUrl('WIP_Base::images/frontend_developer.png'); ?>" alt="Magento 1 Frontend Developer Certified">
            <li>
                <img src="<?= /* @noEscape */ $this->getViewFileUrl('WIP_Base::images/frontend_developer_m2.png'); ?>" alt="Magento 2 Frontend Developer Certified">
            </li>
        </ul>
    </div>
    <div class="actions">
        <a class="action-primary" href="mailto:hello@wearewip.com">
            <span><?= /* @noEscape */ __('Start a project'); ?></span>
        </a>
    </div>
</div>
